<h2>Available drones</h2>

<div id="drones">
  {{#each allDrones}}
  <div class="card">
    <h3>{{this.name}}</h3>
    <p>{{this.propellers}} propeller(s)</p>
    <p>Max speed: {{this.maxSpeed}} knots</p>
    <div id="actions">
      <a href="/drones/{{this._id}}/edit" class="btn">Update</a>
      <a href="/drones/{{this._id}}/delete" class="btn">Delete (GET)</a>
      <form action="/drones/{{this._id}}/delete" method="POST">
        <button class="btn">Delete (POST)</button>
      </form>
    </div>
  </div>
  {{/each}}
</div>