<h2>Available drones</h2>

<div class="row row-cols-1 row-cols-md-2 g-4">
  {{#each allDrones}}
  <div class="col">
    <div class="card mb-3">
      <div class="container mb-3 mt-3">
        <h3 class="card-title">{{this.name}}</h3>
        <p class="card-text">{{this.propellers}} propeller(s)</p>
        <p class="card-text">Max speed: {{this.maxSpeed}} knots</p>
      </div>
      <div class="container">
        <div class="row row-cols-auto mb-2">
          <div class="col">
            <a href="/drones/{{this._id}}/edit" class="btn btn-dark">Update</a>
          </div>
        </div>
        <div class="row row-cols-auto g-1 mb-3">
          <div class="col">
            <a href="/drones/{{this._id}}/delete" class="btn btn-warning">Delete GET</a>
          </div>
          <div class="col">
            <form action="/drones/{{this._id}}/delete" method="POST">
              <button class="btn btn-warning">Delete POST</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
